// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$gray-m: #B3C9C7;
$gray-l: #CFDDDC;
$dark: #303B39;

$first: #F1728B;
$second: #C2FCF3;
$second-l: #F0FFFC;
$third: #EA483D;
$fourth: #C76A9B;
$fifth: #FADD49;
$fifth-l: #FCEC9C;

$pastel-1: #f0d1e2;
$pastel-2: #FFCBC7;
