<footer>
  <p class="mb-3">Retrouvez-moi sur :</p>
  <div class="container">
    <ul>
      <li><%= link_to "https://github.com/lalabarca" do %><i class="fab fa-github"></i><% end %></li>
      <li><%= link_to "https://www.behance.net/laurahardy2e2d" do %><i class="fab fa-behance"></i><% end %></li>
      <li><%= link_to "https://lalabarca.github.io/profile/www.linkedin.com/in/laura-hardy-dessources-4700b1138" do %><i class="fab fa-linkedin-in"></i><% end %></li>
      <li><%= link_to "https://twitter.com/lhdesign972" do %><i class="fab fa-twitter"></i><% end %></li>
    </ul>
  </div>
  <p>Made with ❤️</p>
</footer>
