<footer>
  <p class="mb-3">Retrouvez-moi sur :</p>
  <div class="container">
    <ul>
      <li><%= link_to "https://github.com/lalabarca", target: "_blank" do %><i class="fab fa-github"></i><% end %></li>
      <li><%= link_to "https://www.behance.net/laurahardy2e2d", target: "_blank" do %><i class="fab fa-behance"></i><% end %></li>
      <li><%= link_to "https://www.linkedin.com/in/laura-hardydes/", target: "_blank" do %><i class="fab fa-linkedin-in"></i><% end %></li>
      <li><%= link_to "https://twitter.com/lhdesign972", target: "_blank" do %><i class="fab fa-twitter"></i><% end %></li>
    </ul>
  </div>
  <p>Made with ❤️</p>
</footer>
