<% if skill.rating == 1 %>
  <span class="active"></span>
  <span></span>
  <span></span>
<% elsif skill.rating == 2%>
  <span class="active"></span>
  <span class="active"></span>
  <span></span>
<% else %>
  <span class="active"></span>
  <span class="active"></span>
  <span class="active"></span>
<% end %>
