.btn-normal {background-image: linear-gradient(to right, $fourth 0%, $first  51%, $fourth  100%)}
.btn-normal{
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: $shadow-btn;
  border-radius: 50px;
  display: block;
}

.btn-normal:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-b {
  border-radius: 50px;
  display: block;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-color: #191919;
  color: #fff;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;


  i {
    margin-right: 10px;
    font-size: 1.2rem;
  }

  &:hover {
    background-color: #fff;
    color: #1769ff;
  }
}

.small-btn {
  width: 300px;
}


@media (max-width: 320px) {
  .btn-normal {
    padding: 10px 30px;
  }
}
