.link-project {
  display: block;
}

.card-project {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  // border-radius: 10px;
  padding: 0.6rem 1rem 1.8rem 1rem;
  margin-bottom: 1.3rem;
  position: relative;
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);

  &:before {
    content: "";
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: all 0.4s ease-in-out;

  }

  &:nth-child(odd) {
    background-color: #fff;
    &:before {
      background-color: $gray-l;
    }
  }

  &:nth-child(even) {
    background-color: $second-l;
    &:before {
      background-color: $second;
    }
  }

  figure {
    height: 240px;
    margin-bottom: 0.2rem;
    position: relative;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    z-index: 1;
    color: $gray;
    line-height: 1.3;
    font-family: $body-font;

    a:hover {
      color: #fff;
    }
  }

  &:hover  {
    transform: translateY(-8px);
  box-shadow: 15px 8px 6px -6px rgba(235, 234, 242, 0.58);
    &::before {
      opacity: 0.4;
    }
  }
}

.white-o {
  background-color: #fff;
  &:before {
    background-color: $gray-l;
  }
}

.blue-o {
  background-color: $second-l;
  &:before {
    background-color: $second;
  }
}

.pink-o {
  background-color: $pastel-1;
  &:before {
    background-color: $fourth;
  }
}

.orange-o {
  background-color: $pastel-2;
  &:before {
    background-color: $third;
  }
}

.yellow-o {
  background-color: $fifth-l;
  &:before {
    background-color: $fifth;
  }
}
