.skill-icons {
  width: 60px;
  margin: 0;
}

.skill-levels {
  width: 100%;
  span {
    width: 30%;
    height: 10px;
    border-radius: 50px;
    background-color: $gray-l;
    display: inline-block;
    &.active {
      background-color: $fifth;
    }
  }
}
