<div class='dl-cv'>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>En savoir plus sur mon parcours professionnel</p>
        <%= link_to 'Télécharger mon CV', pages_download_pdf_url, target: "_blank", class: 'btn-normal' %>
      </div>
    </div>
  </div>
</div>
